{% block content %}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-secondary shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Deposit System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="{% url 'clients' %}">List of Clients</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="{% url 'boxes' %}">List of Boxes</a>
            </li>

        </ul>
        </div>
    </div>
</nav>

<style>
    nav{
        position: fixed;
        top: 0;
        right: 0;
    }
</style>


{% endblock %}